.headerContainer{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding:1rem;
  display: flex;
  flex-direction: column;
}

.headerTitleContainer{
  padding: 1rem;
  text-align: center;
}
.headerTitleContainerText{
  margin: 2rem auto !important;
  padding: 2rem 0;
  color:white;
}

.subHeaderContainer{
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.subHeaderInformation{
  word-wrap: break-word;
  margin:1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.headerInformationText{
    padding: 1rem 0;
    color: white;
    word-wrap: break-word;
}

/*  #region  This Week Section   */
.happeningContainer{
  padding:2rem;
}

.happeningThisWeekContainer{
  margin:1rem;
  padding:1rem;
}

.thisWeekText{
    padding: 1rem 0;
    color: black;
    text-align: center;
}
/* #endregion  */

/* #region Products */
.productsContainer{
  background: rgba(218, 217, 217, 0.2);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 1rem 2rem;
  width: 100%;
}

.products{
  gap: 5px;
  padding: 1rem 1.5rem;
  margin:1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

  .productComingUpContainer{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    overflow-wrap: break-word;
    background: linear-gradient(100deg, rgba(251, 250, 250, 0.9) 30%, #fbf7f7 70%);
    min-height: 300px;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 0px 0px 5px rgb(155, 155, 155);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 0;
  }

.productNameSubHeader{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0.5rem 0;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    color: black;
    font-weight: 700;
    min-height: 80px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;
    text-decoration-color: rgb(50, 50, 50);
    -moz-text-decoration-color: rgb(155, 155, 155);
    -moz-text-decoration-style: dashed;
}

.productNameText{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    word-break: break-word;
    color: black;
    font-weight: 600;
}

.productNameTextExpired{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    word-break: break-word;
    color: black;
    font-weight: 600;
}

.productNameTextExpired {
  position: absolute;
  bottom: 0;
}
/* #endRegion */

.shoppingButton:hover{
  color:black;
}
.continueShoppingTitle{
  text-decoration: none;
  border-bottom: 1px solid black;
}

.continueShoppingArrowIcon{
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
}

@media screen and (max-width:700px) {
  .subHeaderContainer,.headerTitleContainer {
      padding: 0 !important;
  }
}