.welcomeShopContainer{
    background: linear-gradient(140deg, #032e79 30%, #02105b 70%);
    min-height: 400px;
}
.welcomeHeader,.welcomeSubHeader{
    color: white;
}

.ProductCardHeader{
    position: relative;
}

.ProductCard{
    position: relative;
    background-color: rgba(233, 233, 233, 0.3) !important;
    width: 200px;
    min-height: 250px;
}

.productContainer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.AddButtonContainer{
    position: absolute;
    bottom: 0;
    margin: 2px -5px;
}