footer{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.fontText{
    font-size: 20px;
    margin: 0.5rem 1rem;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    color: #f0f0f0;
    word-wrap: break-word;
}