nav{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding:1rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

.navigationTitleContainer{
    width:30%;
}

.navigationLinkContainer{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigationLinkContainer ul {
    display: flex;
    flex-direction: row;
}

.navigationLinkContainer li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 2rem;
}

.navigationLinkContainer a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:black;
    text-decoration: none;
}

.navigationLinkContainer a:hover{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: red;
    -moz-text-decoration-color: red;
}

@media screen and (max-width:500px) {
    .navigationTitleContainer, .navigationTitleContainer{
        width:50%;
    }
}


.basketIconContainer{
    position: relative;
}
.BasketNumberContainer{
    position: absolute;
    top: -12px;
    right: -20px;
    content: "";
    background-color: red;
    aspect-ratio: 1;
    border-radius: 50% !important;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}