.toggleContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(228, 227, 227);
    box-shadow: rgba(222, 221, 221, 0.9);
    width: 25%;
    height: 30%;
    z-index: 9999;
    display: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.toggleContainer.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    width: 5em;
    height: 5em;
}